/*****************TAG SELECTORS *****************/
body{
  margin: 0;
}

 img{
   width: 40%;
 }


/*****************ID SELECTORS*****************/
/* index.html */
#page-menu {
  background-color: #000000;
  color: #fac70b;
  padding: 1rem;
  font-size: 1.0rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#top {
  text-align: center;
  background-color: #000000;
  color: #fffafa;
  padding: 4rem 0.4rem 5rem;
}

#introduction{
  background-color: #fffafa;
  color: #000000;
  font-size: 1.1rem;
  padding: 3rem 2rem 4rem;
  font-family: 'Kosugi Maru', sans-serif;
}


#services{
  background-color: #1c819e;
  color: #fffafa;
  padding: 4rem 2rem 6rem;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}

#staff-introduction{
  text-align: center;
  background-color: #000000;
  color: #fffafa;
  padding: 4rem 0.4rem 5rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#QA{
  text-align: center;
  background-color: #fffafa;
  color: #000000;
  padding: 3.8rem 1rem 5rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#business-hours{
  text-align: center;
  background-color: #000000;
  color: #D3D3D3;
  padding: 3rem 4.5rem 6rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#contact{
  text-align: center;
  background-color: #000000;
  color: #fffafa;
  padding: 3rem 1rem 3rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#footer{
  text-align: center;
  background-color: #fffafa;
  color: #000000;
  padding: 0.6rem 0 0.5rem;
  font-family: 'Kosugi Maru', sans-serif;
}

#bottom-nav{
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
}

/* acupuncture.html */
#acupuncture-description {
  text-align: center;
  padding: 7% 11%;
  color: #fffafa;
  background-color: #022c43;
}

#price-table{
  padding: 7% 5%;
  text-align: center;
  background-color: #facf5a;
}

/* moxibustion-cupping.html */
#moxibustion-cupping-description{
  text-align: center;
  padding: 7% 15%;
  color: #fffafa;
  background-color: #022c43;
}

/* oilMassage.html */
#oilMassage{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

#detailTables01, #detailTables02{
  text-align: center;
  background-color: #facf5a;
  padding: 2% 12%;

}

/* anma-fingerPressureTheraphy-massage.html */
#anma-fingerPressureTheraphy-massage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;

}

/* lymphticDrainage.html */
#lymphticDrainage-description{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/* saunaSteam.html */
#saunaSteam{
  text-align: center;
  padding: 7% 12%;
  color: #fffafa;
  background-color: #022c43;
}

/*****************CLASS SELECTORS*****************/
/* index.html */
.topics-format{
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.ririk-namesize {
  font-size: 8rem;
  margin:0;
  padding: 0%;
}


.ririk-description{
  font-size: 1.0rem;
  line-height: 1.6;
  margin-bottom: 50%;
}

.intro-format{
  font-size: 5.0rem;
  line-height: 1.6;
  text-align: left;
}

.navbar-brand {
    color: #fac70b  !important;
}

.nav-item {
  padding: 0 10px;
}

.img-enlarge{
  width: 100%
}

.carousel-item {
  padding: 0%;
}

.carousel {
  width: 300%;
}

.subtitle-text{
  padding-bottom: 2.3rem;
}

.service-name {
  font-size: 0.8rem;
  line-height: 13px;
  color: #000;
}

.serviceBox{
  padding: 0 9%;
}

.wrapper {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #000000;
}
.txt {
  display: inline-block;
  text-align: left;
  color: #fffafa;
}


.textleft{
  text-align: left;
}

.invisible-button {
	background:none;
}

.modal-description {
  /* color: #ffbe00; */
  color: #10316b;
  line-height: 40px;
}

.cost-table{
  position: relative;
  margin: auto;
  width: 80%;
  color: #10316b;
  font-size: 0.9rem;
}

.price-icon{
position: relative;
margin: auto;
}

.header-color {
  background-color: #0b8457;
}

.subImage{
  width: 20%;
}

.list-size{
  font-size: 0.9rem;
}

.puchi{
  height: 180%;
}

.limphtic-paragraph{
  padding: 0 7%;
}

.pants-skirts-orderMade{
  padding: 0 2%;
  font-size: 0.7rem;
  line-height: 20px;
}

.staff-picture{
  /* border-radius: 50%; */
  padding-bottom: 20px;
}

.staff-name{
  font-size: 1.3rem;
}

.staff-description{
  padding: 0 5%;
  line-height: 1.5;
  font-size: 1.0rem;
}

@media(max-width: 750px) {
  .staff-position-Misuzu{
    padding: 0 14% 15%;
    line-height: 20px;
    font-size: 0.7rem;
  }
}

@media(max-width: 750px) {
  .staff-position-Junichi{
    line-height: 20px;
    font-size: 0.7rem;
  }
}

@media(max-width: 750px) {
  .staff-description{
    padding: 0 15%;
    line-height: 2.0;
    font-size: 0.7rem;
  }
}

.Q-A{
  padding: 0.2% 12%;
}

@media (max-width: 750px) {
  .Q-A{
    margin: 0;
    font-size: 0.9rem;
    line-height: 2.0;
  }
}

.business-top{
  padding-top: 2%;
}

.business-info{
  text-align: left;
  padding: 0 2%;
  line-height: 1.4;
}

@media (max-width: 750px) {
  .business-info{
    text-align: left;
    padding: 0 1%;
    font-size: 0.79rem;
    line-height: 1.4;
  }
}

.small-business-info{
  text-align: left;
  padding: 0 2%;
  line-height: 1.4;
  font-size: 80%;
}

@media (max-width: 750px) {
  .small-business-info{
    text-align: left;
    padding: 0 1%;
    line-height: 1.4;
    font-size: 79%;
  }
}

.googlemap {
text-align: center;
position: relative;
margin: auto;
padding-bottom: 56.25%;
padding-top:80px;
height: 0;
overflow: hidden;
}

.googlemap iframe,
.googlemap object,
.googlemap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


.contact-format{
  padding: 1% 5% 0;
  font-size: 1.1rem;
  line-height: 3.6;
}


@media (max-width: 750px) {
  .contact-format{
    margin: 0;
    padding-top: 3%;
    font-size: 0.9rem;
    line-height: 2.0;
  }
}

.mail-icon{
  color: #fffafa;
}

.mail-icon:hover {
    color: #3bb4c1;
}


.sns{
  padding: 2% 3% 0;
}

.sns-element{
  padding: 0 1%;
  color: #000000;
}

.copy-right{
  padding: 3%;
  font-size: 1rem;
}

.hamberger-location{
  position: relative;
  margin: auto;
  color: #fac70b;
}

.border-line{
   border: none;
   height: 0px;
   width: 5%;
   border-style: dotted none none;
   border-color: #fac70b;
   border-width: 7px;
 }

 .border-line02{
    border: none;
    height: 0px;
    width: 5%;
    border-style: dotted none none;
    border-color: #10316b;
    border-width: 7px;
  }

/* acupuncture.html */
.acupuncture-image{
  width: 100%;
  margin-top: 10px;
}

/* moxibustion-cupping.html */
.moxibustion-image{
  width: 80%;
  margin-top: 10px;
}

.cupping-image{
  width: 80%;
  margin-top: 10px;
}

/* .lymphticDrainage.html */

.remove-bullet{
  list-style: none;
  text-align: left;
  font-size: 1.0rem;
  padding: 0 20%;
  letter-spacing: 2px;
}

.break:before {
    content: "\A";
		white-space: pre; /* ←あわせてこれを指定しないと改行しない場合があるらしい */

  }

.in-between{
  line-height: 200%;
  font-size: 0.9rem;
}

.cloth-table{
  line-height: 110%;
  font-size: 0.8rem;
}

  /* @media(max-width: 750px) {
    .cloth-table{
      line-height: 100%;
      font-size: 0.5rem;
    }
  } */

  .products-warning{
    list-style: none;
    text-align: left;
    font-size: 0.8rem;
    line-height: 200%;
    padding: 0;

  }
